* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @font-face {
    font-family: "AbrilFatFace";
    src: url("./assets/fonts/AbrilFatface-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-ExtraLightItalic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  }
}
body {
  background: #17181a;
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-family: "AbrilFatface", serif;
}
#logo {
  color: white;
}
.nav-header {
  min-height: 10vh;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.burger {
  cursor: pointer;
}
.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}
.slide {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}
.hero-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-desc {
  position: relative;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
}
.hero-desc h2 {
  font-size: 5rem;
}
.hero-desc p {
  padding: 3rem 0;
  font-size: 1.5rem;
  color: rgb(223, 223, 223);
}
.mountain-span {
  color: rgb(86, 124, 228);
}
.hike-span {
  color: rgb(167, 110, 231);
}
.fashion-span {
  color: rgb(255, 139, 93);
}
.explore {
  border: 1px solid white;
  padding: 1rem 2rem;
  align-self: flex-start;
  background: none;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
.reveal-img,
.reveal-text {
  position: absolute;
  left: 0;
  top: -15%;
  width: 100%;
  height: 150%;
  background: #17181a;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
  color: #17181a;
}
.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
  list-style: none;
}
.nav-links h3 {
  padding: 3rem 0;
}
.contact {
  flex-basis: 30rem;
}
.contact h2 {
  padding: 2rem 0;
  font-size: 3rem;
}
.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}
.cursor {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
}
.scrollmagic-pin-spacer {
  position: static !important;
}
